{% extends 'layouts/master.twig' %}

{% block page_title %}الإشعارات | {{ trans('brand.name') }}{% endblock %}

{% block content %}
  <section class="placeholder-shell">
    <div class="container">
      <div class="placeholder-card">
        <h1>الإشعارات</h1>
        <p>يمكن تخصيص هذه الصفحة لعرض تنبيهات الطلبات والعروض الجديدة ورسائل المتجر.</p>
      </div>
    </div>
  </section>
{% endblock %}
