{% extends 'layouts/master.twig' %}

{% block page_title %}المفضلة | {{ trans('brand.name') }}{% endblock %}

{% block content %}
  <section class="placeholder-shell">
    <div class="container">
      <div class="placeholder-card">
        <h1>قائمة المفضلة</h1>
        <p>واجهة أولية لعرض المنتجات المفضلة بأسلوب بصري متناسق مع الصفحة الرئيسية.</p>
      </div>
    </div>
  </section>
{% endblock %}
