{% extends 'layouts/master.twig' %}

{% block page_title %}المنتجات | {{ trans('brand.name') }}{% endblock %}

{% block content %}
  <section class="placeholder-shell">
    <div class="container">
      <div class="placeholder-card">
        <h1>قائمة المنتجات</h1>
        <p>هنا يمكن لاحقاً دمج فلاتر سلة وبطاقات المنتجات الحية مع نفس النمط البصري للقالب.</p>
        <div class="placeholder-actions">
          <a class="button button--primary" href="/">{{ trans('nav.home') }}</a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
