{% extends 'layouts/master.twig' %}

{% block page_title %}الولاء | {{ trans('brand.name') }}{% endblock %}

{% block content %}
  <section class="placeholder-shell">
    <div class="container">
      <div class="placeholder-card">
        <h1>برنامج الولاء</h1>
        <p>هذه الصفحة جاهزة كبداية لعرض نقاط الولاء والمكافآت وربطها بمكونات سلة الخاصة بالبرنامج.</p>
      </div>
    </div>
  </section>
{% endblock %}
