{% extends 'layouts/master.twig' %}

{% block page_title %}طلباتي | {{ trans('brand.name') }}{% endblock %}

{% block content %}
  <section class="placeholder-shell">
    <div class="container">
      <div class="placeholder-card">
        <h1>قائمة الطلبات</h1>
        <p>هذه الصفحة جاهزة كبداية لعرض سجل الطلبات مع الحالات والتواريخ.</p>
      </div>
    </div>
  </section>
{% endblock %}
