{% extends 'layouts/master.twig' %}

{% block page_title %}تفاصيل الطلب | {{ trans('brand.name') }}{% endblock %}

{% block content %}
  <section class="placeholder-shell">
    <div class="container">
      <div class="placeholder-card">
        <h1>تفاصيل الطلب</h1>
        <p>واجهة مبدئية لعرض عناصر الطلب والفاتورة والتتبع داخل قالب المتجر.</p>
      </div>
    </div>
  </section>
{% endblock %}
