{% extends 'layouts/master.twig' %}

{% block page_title %}العلامات | {{ trans('brand.name') }}{% endblock %}

{% block content %}
  <section class="placeholder-shell">
    <div class="container">
      <div class="placeholder-card">
        <h1>العلامات التجارية</h1>
        <p>يمكن استعمال هذه الصفحة لسرد العلامات أو الخطوط الإنتاجية الخاصة بالمتجر بتخطيط متناسق مع الهوية.</p>
      </div>
    </div>
  </section>
{% endblock %}
