{% extends 'layouts/master.twig' %}

{% block page_title %}علامة | {{ trans('brand.name') }}{% endblock %}

{% block content %}
  <section class="placeholder-shell">
    <div class="container">
      <div class="placeholder-card">
        <h1>صفحة علامة مفردة</h1>
        <p>هذه نقطة انطلاق لعرض وصف العلامة ومنتجاتها وصورها ضمن نفس اللغة البصرية للقالب.</p>
      </div>
    </div>
  </section>
{% endblock %}
