{% extends 'layouts/master.twig' %}

{% block page_title %}المدونة | {{ trans('brand.name') }}{% endblock %}

{% block content %}
  <section class="placeholder-shell">
    <div class="container">
      <div class="placeholder-card">
        <h1>المدونة</h1>
        <p>يمكن تطوير هذه الصفحة لعرض مقالات عن العود، طرق الاستخدام، وأفكار الإهداء الفاخر.</p>
      </div>
    </div>
  </section>
{% endblock %}
