{% extends 'layouts/master.twig' %}

{% block page_title %}مقال | {{ trans('brand.name') }}{% endblock %}

{% block content %}
  <section class="placeholder-shell">
    <div class="container">
      <div class="placeholder-card">
        <h1>مقالة تجريبية</h1>
        <p>هذا القالب مخصص لصفحة المقال المفردة، ويمكن لاحقاً ربطه بعنوان المقال وصورته ومحتواه الفعلي.</p>
      </div>
    </div>
  </section>
{% endblock %}
